img {
    max-width: 100%;
    max-height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 50px;
}

.boundle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-bottom: 50px;
}

.imgecoli {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 50px;
}

.projectName{
    text-transform: uppercase;
    color: #EBCB74;
    font-size: 86px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
.title{
    text-transform: uppercase;
    color: #EBCB74;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.subtitle{
    text-transform: capitalize;
    color: #EBCB74;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.subsubtitle{
    text-transform: uppercase;
    color: slategray;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.intro{
    font-family: 'Calibri', sans-serif;
    color: dimgrey;
    font-size: 24px;
    text-align: justify;
    margin: 0 auto;
    max-width: 80%;
    padding: 20px 60px;
}   

.paragraf{
    font-family: 'Calibri', sans-serif;
    color: dimgrey;
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
    max-width: 68%;
    padding: 20px 60px;
}   



/* New CODE */

.main-container{
        font-family: 'Montserrat', sans-serif;
}

header{
    padding-bottom:  20px;
    font-family: 'Montserrat', sans-serif;
}

* {
 box-sizing: border-box;
}*:before,
*:after {
 box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #808080;
}